name: Codespell

on:
  #pull_request: {}
  push: {}

jobs:
  codespell:
    name: Codespell
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: codespell-project/actions-codespell@v2
